@font-face {
  font-family: 'BR Candor T';
  font-display: swap;
  src: url('../assets/fonts/BRCandorThin.ttf') format('truetype');
}

@font-face {
  font-family: 'BR Candor EL';
  font-display: swap;
  src: url('../assets/fonts/BRCandorExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'BR Candor L';
  font-display: swap;
  src: url('../assets/fonts/BRCandorLight.ttf') format('truetype');
}

@font-face {
  font-family: 'BR Candor R';
  font-display: swap;
  src: url('../assets/fonts/BRCandorRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'BR Candor M';
  font-display: swap;
  src: url('../assets/fonts/BRCandorMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'BR Candor SB';
  font-display: swap;
  src: url('../assets/fonts/BRCandorSemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'BR Candor B';
  font-display: swap;
  src: url('../assets/fonts/BRCandorBold.ttf') format('truetype');
}
@font-face {
  font-family: 'BR Candor BL';
  font-display: swap;
  src: url('../assets/fonts/BRCandorBlack.ttf') format('truetype');
}
